html, body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: 'Noto Serif', serif;
    margin-top: 25px;
    margin-bottom: 25px;
  }

#header {
    flex-basis: 100%;
    text-align: right;
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
}


footer {
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Dancing Script';
    font-weight: normal;
    text-align: center;
}

a:link {
    color: MediumBlue;
    text-decoration: none;
}

a:visited { 
    color: MediumBlue;
    text-decoration: none; 
}

a:hover { 
    text-decoration: underline;
}

#pubs {
    margin-left: 25px;
    margin-right: 25px;
}

.project{
    margin-bottom: 1em; 
}

.paper_name{
    font-weight: bold;
    /* background-image: linear-gradient(ivory 0%, ivory 33%, #FFFF99 33%, #FFFF99 100%); */
}

/*****/

#name_link a:link {
    color: black;
}

#name_link a:visited { 
    color: black;
    text-decoration: none; 
}

#name_link a:hover { 
    text-decoration: none;
}

#aboutme {
    display: flex;
    flex-wrap: wrap;
  } 

#aboutme .left {
    flex-basis: 100%;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
  }

#aboutme .right {
    flex-basis: 100%;
    margin-right: 25px;
    margin-left: 25px;
}

@media (min-width: 750px) {
    #aboutme {
        flex-wrap: nowrap;
    }

    #aboutme .left {
        flex: 33%;
        margin-right: 25px;
        margin-left: 25px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    #aboutme .right {
        flex: 67%;
        margin-left: 25px;
        margin-right: 25px;
    }
}

#profile-picture {
    border-radius: 50px;
    display: flexbox;
    border-color: black;
    border-width: 0px;
    border-style: solid;
}

#hello {
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Dancing Script';
    font-weight: normal;
    font-size: xx-large;
}

/* highlight {
    background-image: linear-gradient(white 0%, white 33%, #FFE800 33%, #FFE800 100%);
} */
