
html, body {
    /* display: flex;
    align-items: center;
    
    height: 100%; */
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    max-width: 1000px;
    margin-top: 25px;
    margin-bottom: 25px;
    /* padding: 20px; */
  }

#profile-picture {
    border-radius: 50px;
}

#name {
    font-size: xx-large;
}

p {
    font-size: large;
}

a:link {
    color: black;
    text-decoration: underline;
}

a:visited { 
    color: black;
    text-decoration: none; 
}

a:hover { 
    text-decoration: none;
}

.wrapper {
    /* background-color: lightpink; */
    
    /* max-width: 100%; */
    display: flex;
    /* flex-direction: row;
    height: 100%; */
  }

.left {
    text-align: center;
    flex: 30%;
    margin: 10px;
}

.right {
    flex: 70%;
    margin: 10px;
}

.info {
    /* margin-left: 5px; */
    margin-right: 10px;
}

/* footer {
    text-align: center;
} */

/* p {
    color: green;
} */